*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace;
}

body{
    background: rgb(233, 208, 171);
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-gap: 0;
    grid-template-areas: "nav"
                         "main"
                         "footer"; 
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    background-color: rgba(200, 154, 243, 0.322);
    font-weight: bold;
    border-radius: 5px;
}
a:active{
    color: blue;
    background-color: rgba(200, 154, 243, 0.322);
    font-weight: bold;
    border-radius: 5px;
}

nav {
    display: block;
}

#active{
    background-color: rgba(200, 154, 243, 0.322);
    border-radius: 5px;        
}

a.nav{
    margin: 100px;
    font-size: 1.5rem;    
}

h1.nav{
margin: auto;
font-size: 3rem;
}

header{
grid-area: nav;
background-color: bisque;
text-align: center;
}
footer{
grid-area: footer;
background-color: bisque;
text-align: center;
}
main{
grid-area: main;
background-color: white;
}